


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/


body, html{

}

.intro img {
    position: absolute;
    inset: 0;
    display: block;
    height:415px;
    object-fit: cover;
    left:0px;
    width:100%;

    @media only screen and (min-width: 1200px) {
        width:100%;
    }
    box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.322);
  }

.intro h1{
    margin-top:80px;
    color:rgb(243, 243, 243);
    text-shadow: 0px 0px 15px black,  0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black;
}

.intro h1 b{
    color:rgb(204, 204, 204);
    text-shadow: 0px 0px 0px black;
    font-weight:200;
    text-shadow: 0px 0px 15px black,  0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black;
}

.intro #txt-intro-under-picture, .intro #txt-intro-under-picture-2  {
    font-size: 19px;
    max-width:85%;
    margin-left:auto;
    margin-right:auto;
    max-width: 75%;
    text-align:center;

  }

  #txt-intro-under-picture{
    margin-top: 20px;
  } 
  


/*--------------------------------------------------------------
# Section :  Perso
--------------------------------------------------------------*/

#perso{
  /* -backgrounds/bg-main-pale.png */
  background-image:  url("../img-new/-backgrounds/bg-main-pale.png");
  background-size:100% 100%; 

}

.perso .section-title h3{
  /*  BON - 25-03-09--- commenté lors que titre était pâle
  color:rgb(228, 225, 225);
  */
  text-align:center;
  padding-left:30px;
  text-shadow: 18px 18px 16px rgba(0, 0, 0, 0.349), 0px 0px 10px rgba(0, 0, 0, 0.308);
}

.perso .section-title .section-subtitle{
  /*  BON - 25-03-09--- commenté lors que titre était pâle
  color:rgb(177, 177, 177);
  */
  text-shadow: 12px 12px 26px rgba(0, 0, 0, 0.596);


}

/* *** BON ***   25-03-14--- avant changements majeurs lors "leaf" ds intro::
#perso-image-college-ahuntsic{
  background-image:  url("../img-new/-common/collegeAhuntsic.png");
  width:100%;
  height:100%;
}
*/ 

#perso h4{
  font-weight: normal;
  /* *** BON ***   25-03-14--- avant changements majeurs lors "leaf" ds intro::
  color:rgb(216, 212, 154);
  background-color: rgb(23, 20, 29);
  border: 1px solid rgba(216, 212, 154, 0.507);
  padding: 4px;
  padding-left:10px;  */
  /*color:white;*/

  /* *** BON ***   25-03-14--- avant changements majeurs lors "leaf" ds intro::
  color:rgb(27, 26, 27);
  border-radius: 4px;
  */


  color: white;
  background-color: black;
  padding: 4px 15px 4px;
  /*margin-top: 15px;*/
  margin: 0px;
  /*margin:0px;*/
  font-size: 20px;

  /*border: 2px solid rgb(33, 30, 36);*/
  
}

#perso p{
  font-weight:500;
  margin: 5px ;
  padding:10px;
  /*
  background-image:  url("../img-new/-common/filtre-blanc-gradient.png");
  background-size: 100% 100%;
  */
  

  
  
  text-shadow: 0px 0px 15px rgb(255, 255, 255),
               0px 0px 15px rgb(255, 255, 255), 
               0px 0px 15px rgb(255, 255, 255), 
               0px 0px 5px rgb(255, 255, 255),
               0px 0px 5px rgb(255, 255, 255), 
               0px 0px 5px rgb(255, 255, 255),  
               0px 0px 10px rgb(255, 255, 255),  
               0px 0px 10px rgb(255, 255, 255),  
               0px 0px 10px rgb(255, 255, 255);
  

  /*
  background-color: rgba(255, 255, 255, 0.342);
  */
  /*
  text-shadow: 0px 0px 15px rgb(116, 8, 8),  0px 0px 15px rgb(121, 10, 10), 0px 0px 15px rgb(192, 3, 3), rgb(167, 14, 14)px 15px black;
  */
}

.perso-bloc{
  margin:50px 12px 50px;

  /*
  background-image:  url("../img-new/-common/filtre-blanc-opacitei-75.png");
  */
  /* background-color: white; */
  
  /* *** BON ***   25-03-14--- avant changements majeurs lors "leaf" ds intro::
  background-color: rgb(0, 0, 0);
  */

  /*
  background-color: rgba(44, 40, 49, 0.74);
  */

  /*  *** BON ** 
  background-image:  url("../img-new/-common/filter-black-75-pourcent.png");
  */
  background-image:  url("../img-new/-common/filtre-blanc-opacitei-75.png");

  /*color:rgb(218, 218, 218);*/

  padding:15px;
  
  border-radius: 4px;
  
  /*
  padding-bottom:40px;
  */


  box-shadow: 15px 15px 13px 3px rgba(0, 0, 0, 0.322);

  /* box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.267); */

}

#perso .image-my{
  padding:4px;
  /*margin:3px;*/

}

.perso .btn-get-cv {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  border-radius: 5px;
  padding: 8px 40px;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
  font-size: 18px;

  box-shadow: 15px 15px 13px 3px rgba(0, 0, 0, 0.322);
  border-color: var(--contrast-color);

}



.perso .btn-get-cv:hover {
  border-color: var(--contrast-color);
  background-color: transparent;
  color: var(--contrast-color);
}


/*
.perso .btn-get-cv:hover {
  border-color: var(--contrast-color);
  background-color: rgba(0, 0, 0, 0.733);
  color: var(--contrast-color);
}
*/

/*
.perso .btn-get-cv:hover {
  border-color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.418);
  color: var(--accent-color);
}
*/

/*
.btn-dark-standard {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  border-radius: 5px;
  padding: 8px 30px;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
  font-size: 14px;
}
*/



  /*--------------------------------------------------------------
  # LOGO BANNER
  --------------------------------------------------------------*/

  .logo-banner .init-swiper-2 {
    margin-top: 105px;
    /*background-color:rgb(70, 66, 73);*/

  }

  /*
  #intro .init-swiper .swiper-slide {
   }
   */

  .logo-banner .init-swiper img {
    /*max-height: 35px;*/
    object-fit: fill; /*allows for uneven stretch img*/
    margin: 5px 60px 5px;
    position:static;
    width:70px;
    height:40px;
  }

  .logo-banner .swiper-wrapper{
    transition-timing-function : linear;
  }
  
  .logo-banner .swiper-pagination {
    position: absolute;
    bottom: 30px;
  }
  
  .logo-banner .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    background: #ffffff;
    opacity: 0.9;
  }
  
  .logo-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--accent-color);
    opacity: 1;
  }
  
  .logo-banner .section-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    color: var(--default-color);
  }



  /*
  #carouselBannerTechIcons{
    margin-top: 90px;
    height:80px;
    width:100%;
  
  }
  #carouselBannerTechIcons img{
    height: 60px;
    position: static;
  }
  */

/*--------------------------------------------------------------
# demo-node-vue Section
--------------------------------------------------------------*/


  #demo-node-vue-section  {
    /* background-color: black; */
    /*background-image:  url("../img-new/demo-node-vue/BlackAbstractBackground-08-nGoldenSparks-darker.png");*/
    background-image:  url("../img-new/demo-node-vue/demo-node-vue--bg.png");
    background-size:100% 100%;
    /*background-size: cover;*/
  }
  
  .demo-node-vue h1 {
    color: var(--heading-color);
    font-size: 30px;
    margin-bottom: 5px;
    padding-bottom: 5px;

  }
  
  .demo-node-vue h4 {
    color: rgb(32, 27, 39);
 

  }

  .demo-node-vue p {
    line-height: 1.7;
    color: var(--default-color);
  }
  
  .demo-node-vue .swiper-pagination {
    position: absolute;
    bottom: 30px;
  }
  
  .demo-node-vue .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    background: #ffffff;
    opacity: 0.9;
  }
  
  .demo-node-vue .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--accent-color);
    opacity: 1;
  }
  
  .demo-node-vue .section-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    color: var(--default-color);
  }

  .demo-node-vue .init-swiper img {
    max-height:270px;
    height:215px;
  }

  .demo-node-vue .swiper-wrapper{
    transition-timing-function : linear;
  }
  
  .demo-node-vue .carouselIndicators{
    margin-top:30px ;
    padding-top:30px;
  }

  .demo-node-vue .carousel-item p{
    border-left:solid;
    border-color:rgb(207, 207, 207);
    border-width: 3px;
    padding-left: 20px;
    margin-left:5px;
    margin-bottom: 0px;
  }

  .demo-node-vue .carousel-item .vendor-logo{
    max-height: 40px;
    margin: 10px;
    /*position: static;*/
    /*text-align: center;*/
    align-self:center;
 }

  .demo-node-vue .carousel-item .img-college-ahuntsic{
    max-height: 110px;
    margin: 10px;
    padding:0px;
    /*position: static;*/
    /*text-align: center;*/
    margin:auto;
    align-self:center;

  }


 .carousel.carousel-fade .carousel-item {
    display: static;
    opacity: 0;
    transition: opacity ease-out 0.2s;
  }

  .carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
  }

  /* BON CI BAS
  .demo-node-vue container {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;

  }
  */

  /*
  .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }

  */
  /*
  .carousel-inner .carousel-item {
    transition: transform 1s ease; 

  }
  */
  

/*--------------------------------------------------------------
# Section :  Programmation
--------------------------------------------------------------*/

  #programmation{
    
    /*  ** BON ** AVANT CHANGEMENTS 25-03-14---
    background-image:  url("../img-new/demo-node-vue/demo-node-vue--bg.png");
    0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\-backgrounds\rock\bg-rock.jpg
    background-image:  url("../img-new/-backgrounds/rock/bg-rock.jpg");
    background-image:  url("../img-new/-backgrounds/lumber/lumber.png");
    background-image:  url("../img-new/-backgrounds/hive/hive-1.png");
    background-image:  url("../img-new/-backgrounds/river/river-1.png");
    */
    background-image:  url("../img-new/-backgrounds/lumber/lumber.png");


    /*opacity: 0.5;*/
    background-size: 100% 100%; 
    /*color:rgb(250, 236, 172);*/
  }

  /* AFFECTS LOGO BANNER */
  #programmation-bg-image-2{
    position: absolute;
    /*inset: 0;*/
    display: block;
    /*width: 100%;*/
    /*width: 1300px;*/
    /*height:415px;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
    /*z-index: 1;*/
    width:100%;
    max-height: 600px;
    /*opacity:0.5;*/
    /*filter: contrast(150%);*/
    /*filter:grayscale(100%);*/
  }

  .bg-filter{
    /*opacity: 1;

    background-size:100% 100%; 
    background-color: rgba(236, 236, 236, 0.384);*/

  }

  #programmation .container{

  }

  #programmation{
    /*background-color: red;*/
  }

  #programmation h4,h5{
    color:rgb(236, 234, 236);
  }

  #programmation p{
    color:rgb(248, 246, 213);
  }
  #programmation h3{
    color:rgb(223, 221, 221);
    text-align:center;
  }
  .programmation-title{
    /*background-color: rgba(67, 57, 82, 0.363);*/
    /*width:100%;*/
    /*opacity:0,5;*/
    color:rgb(228, 225, 225);
    text-align:center;
    padding-left:30px;
  }

  .programmation .section-subtitle{
    color:rgb(177, 177, 177);
  }

  #json-image{
    /* background-color: black; */
    /*background-image:  url("../img-new/demo-node-vue/BlackAbstractBackground-08-nGoldenSparks-darker.png");*/
    background-image:  url("../img-new/programmation/json-bourne.webp"); 
    background-size:100% 100%; 
    max-width: 300px;

    /*
    background-image:  url("../img-new/demo-node-vue/demo-node-vue--bg.png");
    */
    /*background-size: cover;*/
    /*background-color: red;*/
  }


  #programmation-scriptWrite{
    font-size:larger;
    font-family: "Lucida Console", "Courier New", monospace;
    min-height:75px;
  }


  
/*--------------------------------------------------------------
# Section :  Competences header
--------------------------------------------------------------*/

#competences-header .tab-custom{
  background-image:  url("../img-new/partial-competences-header/tab-line-2.png");
  background-size:100% 100%; 
  /*max-width: 100%;
  height: 100%;
  width: 100%;*/
}
#competences-header .tab-front{
  background-image:  url("../img-new/partial-competences-header/tab-as-such.png");
  background-size:100% 100%; 
  min-width:350px;
  max-width:450px;
  cursor: pointer;
  /*height:auto;*/
  /*min-height:100px;*/

  /*height: 100%;
  width: 100%;*/
}
#competences-header .tab-behind{
  background-image:  url("../img-new/partial-competences-header/tab-as-such-n-line.png");
  background-size:100% 100%; 
  min-width:350px;
  max-width:450px;
  cursor: pointer;
  /*height:auto;
  width:auto;*/
}

#competences-header .tab-behind  .section-subtitle {
  opacity: 0.4;
}

#competences-header  h3  {
  font-size:25px;
}

#competences-header .tab-behind  h3  {
  opacity: 0.7;
  color:rgb(122, 118, 129);
}


  /*--------------------------------------------------------------
# Tabs Section / pages conception et infographie
--------------------------------------------------------------*/
.tabs .service-item .service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 4px;
  position: relative;
  color: var(--accent-color);
   background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  margin-right: 20px;
  font-size: 16px;

  border-style:solid;
  border-width: 2px;
  border-color: var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);

}


#infographie .service-item .service-icon{/* page infographie */
  position:static;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border-radius: 1px;
  border-width: 0px;
  margin-top:auto;
  margin-bottom:auto;
  align-self:center;

}

.tabs .service-item .service-contents h3 {
  font-size: 16px;
  color: var(--heading-color);
}

#infographie.tabs .service-item .service-contents h3 {  /* page infographie */
  /*flex-shrink: 3;*/
  /*margin:auto;*/
  /*justify-content:center;*/
  /*align-content:center;*/
  text-align: left;
  margin:0px;
  padding:0px;

}

#infographie.tabs .service-item .service-contents p {  /* page infographie */
  display:none;
}

.tabs .service-item.link {
  padding: 20px;

  /*margin-bottom: 10px;*/
  border-radius: 6px;

  border-style:solid;
  border-width: 2px;
  border-color: transparent;

}

#infographie.tabs .service-item.link { /* page infographie */
  padding: 20px;
  margin:10px;
  margin-top:auto;
  margin-bottom:auto;
  /*min-height:25px;*/ 
  justify-content: left;
  align-items:center;


}

.tabs .service-item.link .service-contents {
  color: var(--default-color);
}

.tabs .service-item.link .service-contents *:last-child {
  margin-bottom: 0;
}

.tabs .service-item.link:hover {
  background: color-mix(in srgb, var(--default-color), transparent 96%);

}

.tabs .service-item.link:hover .service-icon {
  background-color: color-mix(in srgb, var(--default-color), transparent 90%);
  color: var(--default-color);
}

.tabs .service-item.link.active {
  background: var(--surface-color);

  border-style:solid;
  border-width: 2px;
  border-color: var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);

}

#infographie.tabs .service-item.link.active {
  border-color: rgb(138, 138, 33);

}

.tabs .service-item.link.active .service-icon {
  background-color: var(--accent-color);
  color: var(--contrast-color);
 
}


#infographie #column-images{
  margin:0px;
  padding:0px;
  /*background-color: red;*/

}
#infographie .swiper-wrapper{
  margin:0px;
  /*background-color: red;*/
}
#infographie .swiper-slide{
  margin:0px;
  padding:0px;

}



/*
.tabs .swiper-slide{
  padding:40px;
}
*/

.tabs img{
  height:200%;
  width:150%;
}

#infographie img{
  margin:0px;
  padding:0px;
  /*background-color: red;*/
  object-fit: cover;

}

.tabs .service-contents p{
  color:rgb(138, 138, 33); 
}






/*--------------------------------------------------------------
# Section :  Applications
--------------------------------------------------------------*/

#section-applications{
  /*scroll-margin-top: 60px;*/
  /*
  /*  ** BON ** AVANT CHANGEMENTS 25-03-14---
  0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\-backgrounds\gradients\gradient-1.png
  background-image:  url("../img-new/demo-node-vue/demo-node-vue--bg.png");
  background-size: 100% 1300px ; 
  background-image:  url("../img-new/-backgrounds/gradients/gradient-1.png");
  background-image:  url("../img-new/-backgrounds/river/river-1.png");

  */  
  /*opacity: 0.5;*/

  /* 
  background-image:  url("../img-new/-backgrounds/hive/hive-2.png");
  background-size: 100% 100%;
  */

  /* background-size: 2000px 1800px; */
  background-size:  100% 100%;
  background-image:  url("../img-new/-backgrounds/hive/hive-2.png");

  /* background-size: 100% auto; */
  /*background-size: cover;*/

  overflow: hidden;      /* hide the overflow */
 
  /*color:rgb(250, 236, 172);*/
}

#section-applications .titles-on-dark-bg {
  text-align:center;
}
#section-applications .titles-on-dark-bg h3{
  color:rgb(228, 225, 225);
  /*
  text-shadow: 0px 0px 15px black,  0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black;
  */
  text-shadow: 0px 0px 15px rgb(0, 0, 0), 0px 0px 15px rgb(0, 0, 0), 0px 0px 15px rgb(0, 0, 0);

  /*text-align:center;*/ 
}
#section-applications .titles-on-dark-bg .section-subtitle{
  /*text-align:center;*/
  color:rgb(177, 177, 177);
}





#app-modal-carousel.modalFolded {
  /* height:1px !important ; */
  /*height:1px ;*/
  /*height: 100%;*/            
  /*  BON - PR METTRE PAR-DESSUS ::  position: absolute; */
  /*top: 0;
  left: 0;*/
  /*opacity: 0.5;  */
  /*z-index: 7;*/ /*nécessaire pour couvrir les photos*/
  /*margin:auto;*/
  
  /*
  margin-right:5%;
  margin-left:5%;
  */
  
  /*margin-right:0%;
  margin-left:0%;
  
  width: 100%;
  padding:0px;
  margin:0px;
  */
  max-height:1px ;
  /* 25-04-03--- position:relative;*/

  /*transition-property: display;
  transition-duration: 4s;*/

  /* position: fixed ;*/
  position:relative;

  /* background-color: rgb(229, 230, 231); */
    /*top: 0;
  left: 0;*/
  /*opacity: 0.5;  */
  /*z-index: 7;*/ /*nécessaire pour couvrir les photos*/
  /*margin:auto;*/
  
  /* pacity:0.5; */

  transition-property: height, width;
  transition-duration: 1s;
  transition-timing-function:linear;

 
}

#app-modal-carousel.modalUnfolded {
  position:fixed;
  /*
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,.5);
  */
  /* 25-04-14---
  box-shadow: 0px 0px 200px 200px rgba(41, 41, 41, 0.9),0px 0px 40px 40px rgba(41, 41, 41, 0.9);
  */
  margin-right:0%;
  margin-left:0%;
  
  
  width: 90%;
  height: 90%;
  /* 25-04-03--- position:relative;*/

  /*transition-property: display;
  transition-duration: 4s;*/

  /* position: fixed ;*/

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: rgb(255, 255, 255);*/
  /* background-color: rgb(255, 255, 255); */
  z-index: 7;
  
  /*
  transition-property:all;
  transition-duration: 1s;
  transition-timing-function:linear;
  */
  /*
  opacity:1;
  */

  transition-property: height, width;
  transition-duration: 1s;
  transition-timing-function:linear;

 
}


#carouselExampleControls2 .carousel-inner .item {
  opacity: 0;
  
  /*transition-property: opacity;
  transition-duration: 2s;
  background-color: rgb(43, 168, 226);
  transition-timing-function:linear;
  */
  /*
  transition: opacity 1.8s;

  opacity: 0;*/
}

#carouselExampleControls2 .carousel-inner .active  {
  /*transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function:linear;*/
  opacity: 1;
  /*background-color: blueviolet;*/

  /*background-color: chartreuse;*/
  /*
  transition: opacity 1.8s;

  opacity: 1;*/

}

.app-slide{
  /* 25-04-03---
  max-height:3px;
  */
  /*
  
  transition-property: all ;
  transition-duration: 4s;
  transition-timing-function:linear;
*/

}

/*
.app-slide-show{
  max-height:all;

  transition-property: max-height;
  transition-duration: 4s;
  transition-timing-function:linear;
}
*/
.app-button{
  visibility: hidden;
  /*background-color: white;*/
  z-index: 10;
}

#app-slide-2{
  
  /*
  background-image:  url("../img-new/partial-applications/site-rencontre/site-rencontre.png");
  background-size: 100% 100%; 
  */
}

#app-slide-3{
  /*
  background-color: white;
  background-size: 100% 100%; 
*/
  /*
background-image:  url("../img-new/partial-applications/vente-ordis/vente-ordis.jpg");
background-size: 100% 100%; 
*/
/*background-color: rgb(226, 43, 43);*/
/* 0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\partial-applications\boutique-ahuntsic\boutique-ahuntsic.webp  */
}

#app-slide-4{
  /*
  background-color: white;
  background-size: 100% 100%; 
*/
}


#section-applications  .app-icon-outside{
  /*background-color: rgb(6, 6, 95) ;*/
  
  /*25-03-11--- height avait 125 et pas de width*/
  /*25-04-08---*/
  
  min-height: 125px;
  min-width: 125px;
  max-height: 125px;
  max-width: 125px;
  /*min-width: 125px;
  max-width:125px;*/
  
  
  /*min-height:100%;*/

  /*
  max-width: 145px;
  min-width: 130px;
  */

  /*max-width:450px;*/
  /* box-shadow: 0px 0px 20px 20px rgba(0,0,0,.5); */
  /* box-shadow: 25px 25px 23px 23px rgb(0, 0, 0);  */
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.404);
  border: 4px solid rgb(255, 255, 255); 
  /*
    background-image:  url("../img-new/-common/filter-black-25-pourcent.png");
  */
  /*
  background-color: rgba(0, 0, 0, 0.842);
  */

  /*z-index:15;*/

  opacity: 1; 
  filter: grayscale(60%) brightness(60%);

  /*25-04-08---
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
  */

  transition-property: height, width;
  transition-duration: 0.4s;
}
#section-applications .app-icon-embedded{
  max-height: 50px;
  max-width:50px;
  min-height: 50px;
  min-width: 50px;


  border: 2px solid rgb(255, 255, 255); 

  filter:  grayscale(60%) brightness(60%);

  /*z-index:15;*/
  z-index:99999999;


  transition-property: height, width;
  transition-duration: 0.4s;
}



#section-applications .app-icon:hover{
  filter: none;
  transition-property: all;
  transition-duration: 0.2s;
}
#section-applications  .active{
  filter: none;
  transition-property: all;
  transition-duration: 0.2s;
}


/* #section-applications */
#app-icon-button-1{
  background-image:  url("../img-new/partial-applications/boutique-ahuntsic/boutique-ahuntsic.webp");
  /* 0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\partial-applications\boutique-ahuntsic\boutique-ahuntsic.webp  */
  /*opacity: 0.5;*/
  background-size: 100% 100%; 
  /*
  filter: contrast(20%);
  */
  /*opacity: 0.5;*/
} 

#app-icon-button-2{
  background-image:  url("../img-new/partial-applications/site-rencontre/site-rencontre.png");
  /* 0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\partial-applications\boutique-ahuntsic\boutique-ahuntsic.webp  */
  /*opacity: 0.5;*/
  background-size: 100% 100%; 
  /*opacity: 0.5;*/
  /*
  mix-blend-mode: darken;
  */
  filter: blur(5px);
  filter: grayscale(100%);

} 
#app-icon-button-3{
  background-image:  url("../img-new/partial-applications/mtl-collisions-stats/mtl-collisions-stats.jpeg");
  /* 0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\partial-applications\boutique-ahuntsic\boutique-ahuntsic.webp  */
  /*opacity: 0.5;*/
  background-size: 100% 100%; 
  /*opacity: 0.5;*/
} 
#app-icon-button-4{
  background-image:  url("../img-new/partial-applications/vente-ordis/vente-ordis.jpg");
  /* 0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\partial-applications\boutique-ahuntsic\boutique-ahuntsic.webp  */
  /*opacity: 0.5;*/
  background-size: 100% 100%; 
  /*opacity: 0.5;*/
} 
#app-icon-button-5{
  background-image:  url("../img-new/partial-applications/vente-ordis/vente-ordis.jpg");
  /* 0.65--mes-PROJ-[24-09-17+]\0000---MON-SITE-[professionnel]\Active\assets\img-new\partial-applications\boutique-ahuntsic\boutique-ahuntsic.webp  */
  /*opacity: 0.5;*/
  background-size: 100% 100%; 
  /*opacity: 0.5;*/
} 

#app-icon-button-1:hover, #app-icon-button-2:hover, #app-icon-button-3:hover, #app-icon-button-4:hover {
  /*
  opacity: 0.8;
  box-shadow: 0px 0px 15px 15px rgba(198, 161, 223, 0.068);
  transition: opacity ease-out 50ms;
  transition: box-shadow ease-out 50ms;
  */
 
} 



#app-icons-container{
  /*height:300px;*/
  /*background-color:  rgb(0, 0, 0);*/

}

#app-close-button{
  position:absolute;
  right:15px;
  top:15px;
  /* background-image: url("../img-new/partial-applications/_common/arrow-show-hide-carousel.png");  */
  background-image: url("../img-new/partial-applications/_common/close-x-gris-pale.png");
  /* Active\assets\img-new\partial-applications\_common */
  width:50px; /* width:3.5vw*/
  height:50px;
  /*height:40px;*/
  z-index: 10;
  background-size: 100% 100%; 
  /*opacity:0.35;*/
  opacity:0.02;
  transition: opacity ease-in-out 25ms;
  transition: transform 1s;
  /*transition: opacity ease-in-out 25ms;*/
  /*opacity:0;*/
  /*transform: rotate(180deg);*/
}

#app-close-button:hover {
  opacity: 0.6;

  /*box-shadow: 0px 0px 15px 15px rgba(198, 161, 223, 0.068);
  transition: box-shadow ease-out 25ms; */
  transition: opacity ease-in-out 25ms;
  transition: transform 1s;
} 

.flip {
  /*transform: rotate(-180deg); */
  transform: rotate(180deg); 
  opacity:1;
}




.app-carousel-icon-container-outside{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /*justify-content: flex-end ;*/
  justify-content: space-around ; 
  /*25-04-08--- margin-inline: auto; */

  position:absolute; 
  top:-20px; /* 25-04-05--- top:0px;*/
  /*25-04-08--- margin:auto;*/
  z-index: 10;
  left: 0; 
  right: 0; 
  /* 25-04-08--- width: 80%; */ 
  max-height:150px;

  /*25-04-08---*/
  /*
  height:125px;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
  */


  transition-property: height, width, opacity;
  transition-duration: 1s;

}


.app-carousel-icon-container-embedded{
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /*justify-content: flex-end ;*/
  justify-content: space-around ; 
  margin-inline: auto; 

  position:absolute; 
  top:0px;
  /*margin-right:150px;*/
  z-index:9999999;
  /*right:0px;*/
  
/*
  margin-left: auto; 
  margin-right: 0;
  */
  left:auto;
  right: 100px;

  width: 40%;  
  max-height:60px;
  
  /*flex-shrink: 3;*/
  /*
  justify-content:  flex-end ;
  align-self: flex-end ;
  */
  /*background-color:aquamarine;*/
  transition-property: height, width, opacity;
  transition-duration: 1s;
}



#footer2 hr{
  /*marche pas:: */
  border-color:  var(--golden-dark);
  
}




/*--------------------------------------------------------------
# Section :  Applications individuelles
--------------------------------------------------------------*/

.app-sub-container-folded{
  /*min-height:500px;;*/
  /*min-height:100% !important;*/
  height:0px;
  min-width:100%;
  /*background-color: rgb(204, 35, 35);*/
  padding:0px;
  margin:0px;
  /* max-height:400px; */
  /*max-height:max-content;*/
  
  overflow:hidden;
  opacity:0;

  /* 25-04-14--- transition-property: height, width, opacity, box-shadow;*/
  transition-property: opacity;
  transition-duration: 0.75s;


}


.app-sub-container-folded-with-transform{

  opacity:0.3;
  transform: scaleY(0.001) ;
  transition-property: transform, opacity;
  transition-duration: 0.8s;
  /*background-color: rgb(255, 255, 255);*/


}

.app-sub-container-unfolded{

  
  /*  box-shadow: 0px 0px 20px 20px rgba(0,0,0,.5); */
  /* 25-04-03--- position:relative;*/
  /*transition-property: display;
  transition-duration: 4s;*/
  /* position: fixed ;*/
  /*background-color: rgb(255, 255, 255);*/
  /* background-color: rgb(255, 255, 255); */
  
  /*background-color: yellow;*/
  padding:0px;
  
  background-color: rgb(255, 255, 255);

  position:fixed;
  box-shadow: 0px 0px 200px 200px rgba(41, 41, 41, 0.9),0px 0px 40px 40px rgba(41, 41, 41, 0.9);
  margin-right:0%;
  margin-left:0%;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;

  overflow:hidden;

  opacity:1;
  /* 25-04-14--- transition-property: height, width, opacity, box-shadow;*/
  transition-property: opacity;
  transition-duration: 0.75s;

  /* ci-bas bon - empêche overflow */

}


.app-top-row{
  /*max-height:300px;*/
  /*overflow:hidden;*/

  /*overflow:scroll;*/
  /*
  margin-bottom:130px;
  height:inherit;
  */

}

.app-desc p{
  margin-left:30px;
}

.app-sub-container .app-desc {
  /* display:flex; */
  min-height:0;
  /*background-color: rgba(218, 218, 218, 0.363);*/
  background-color: rgba(245, 245, 245, 0.815);
  margin:10px;
  padding:10px;

  height:70vh;
  overflow-y:scroll;
  /*height:3080px;*/

  /*overflow-y: auto; */
  /*max-height:inherit;*/
  /* max-height:fit-content;*/
  /*max-height:100%;*/
  /*flex-basis: auto;*/
  
  /*flex-shrink:1;*/
  /*flex:1;*/
  


}


